@model IEnumerable<VacationFormPractice.Models.VacationPlaces>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attractions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.datetime)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attractions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datetime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DestinationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DestinationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DestinationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
